body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid rgb(160, 5, 126);
    border-radius: 10px;
    height: 400px;
}

.image:hover{
    transform: rotateY(150deg);
    border-radius: 25px;
    border-width: 10px;
    border-style: groove;
    border-color:rgb(238, 9, 238);
}


.links:hover{
    font-size:larger;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    color: rgb(238, 9, 238);
}

.link-button {
    text-decoration: none;
    color: rgb(7, 139, 139);
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 2px 3px #000000;
}