body {
    background-color: rgb(250, 144, 250);

}

.image{
    border: 5px solid rgb(128, 0, 128);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: #37d4da;
    border: 1px solid gray;
    background-color: #3ed6db;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 2px 3px #000;
}
title {
    font-family: "Grey Qo", cursive;
}
h1 {
font-family: "Gupter", sans-serif;
}
h2{
font-family: "Gupter", sans-serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}